# ==================== .env 系列 ====================
# 绝不能提交到 git
.env
.env.local
.env.*.local
!.env.example

# ==================== .NET ====================
bin/
obj/
*.user
*.suo

# ==================== VS ====================
.vs/
*.userosscache
*.sln.docstates

# ==================== Rider / VS Code ====================
.idea/
.vscode/

# ==================== 运行时数据 ====================
database/
*.bin

# ==================== 系统 ====================
Thumbs.db
Desktop.ini